<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">{{ t.site.title }}</h2>
          <ul>
            {% if current_lang == "zh-CN" %}
              {% assign footermenu = site.data.menus_zh.footer | sort: 'weight' %}
            {% else %}
              {% assign footermenu = site.data.menus.footer | sort: 'weight' %}
            {% endif %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{% if item.url contains '://' %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
